<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/base.css">
        <title>Book APi</title>
    </head>

<body class="result">
    <header>
        <h1>Welcome</h1>
    </header>
    <nav>
        Google Search
    </nav> 

    <div class="parent">
        <% bookDetails.forEach(valueData =>{%>
            <div class="child">
            <img src="<%= valueData.image_url;%>" alt=""><br>
            <h2 class="title"><%= valueData.title;%></h2><br>
            <h3><%= valueData.authors;%> </h3><br>
            <p><%= valueData.description;%> </p><br>
            <p><%= valueData.isbn;%> </p><br>

        </div>
            <% }); %>
</div >


</body>

</html>