<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="styles/base.css">
        <title>Book APi</title>
    </head>

<body class="result">
    <header>
        <h1>Welcome</h1>
    </header>
    <nav>
        Google Search
    </nav>
    <div class="parent">
            <% arrayBook.map(valueData =>{%>
                <div class="child">
                <img src="<%= valueData.image;%>" alt=""><br>
                <h2 class="title"><%= valueData.title;%></h2><br>
                <h2><%= valueData.authors;%> </h2><br>
                <p><%= valueData.description;%> </p><br>

                <form action="/books" method="POST">
                    <input type="text" name="image" value="<%= valueData.image;%>" style="display: none;">
                    <input type="text" name="title" value="<%= valueData.title;%>"  style="display: none;">
                    <input type="text" name="isbn" value="<%= valueData.isbn;%>"  style="display: none;"> 
                    <input type="text" name="authors" value="<%= valueData.authors;%>"  style="display: none;">
                    <input type="text" name="description" value="<%= valueData.description;%>" style="display: none;" >
                <button type="submit">Add To Favourits List</button>
                </form>
            </div>
                <% }); %>
    </div >




</body>

</html>