<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head') %>
<body>
    <%- include('../layout/header') %>
    <br>
    <p id="conut">Number Of Books: <%=savedBook.rowCount;%> </p>
    <br><br><br>
    <div class="parent">
        <% savedBook.rows.forEach(valueData =>{%>
            <div class="child">
            <img src="<%= valueData.image_url;%>" alt=""><br>
            <h2 class="title"><%= valueData.title;%></h2><br>
            <h2><%= valueData.authors;%> </h2><br>
            <p><%= valueData.description;%> </p><br>

            <form action="/books/<%=valueData.id%>" method="get">
            <button type="submit">View</button>
            </form>
        </div>
            <% }); %>
    </div >


<%- include('../layout/footer') %>
</body>
</html>